/* frontend/src/styles.css */
body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
}
.msg_input{
    width: 42%;
    margin: 0 auto ;
    display: flex;
    margin-top: 15px;

}
.msg_input input, .msg_input button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    border: 1px solid #000;
}
.msg_input button {
    max-width: 150px;
    height: 42px !important;
    background: #005aff;
    color: #fff;

}
.chat_list{
    width: 40%;
    margin: 0 auto ;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px 15px;
}
.bot_text{
    max-width: 70%;
    text-align: left;
}
.chat_list_data {
  margin-bottom: 20px;
  text-align: left;
}

.user_text{
    text-align: right;
}